body {
	font-family: Roboto Condensed,sans-serif;
    font-size: 15px;
    /*padding-top: 120px;*/
    letter-spacing: .05em;
}
a {
    color: black;
    text-decoration: none!important;
    background-color: transparent!important;
}
a:hover {
    color: black;
}
main{
    margin-top: 66px;
    min-height: 443.9px;
}
.bg-dark {
    background-color: #000!important;
}
.navbar-dark .navbar-nav .nav-link {
    color: white;
    font-size: 18px;
    font-weight: 400;
    transition: all .3s;
    padding-left: 5px;
    padding-right: 5px;
}
.navbar-nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.nav-link:hover {
    color: #8d8d8d!important;
}
.card-body {
	font-size: 14px;
}
.card-subtitle {
	font-size: 11px;
}
.btn-group-toggle {
	width: 100%;
	border-radius: 15px;
	background-color: #f8f8f8;
}
.price-buy-row {
	width: 100%;
	margin: auto;
	padding-right: 0;
	padding-left: 0;
}
.price-buy-row div{
	width: 50%;
}
.btn {
	border-radius: 0px;
	font-size: 13px;
}

.btn-group .btn{
	background-color: #f8f8f8;
	color: black;
}
.btn-group .btn:nth-child(3){
	border-top-left-radius: 0px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 0px;
}
.btn-group .btn:nth-child(2){
	border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.btn-group .btn:nth-child(1){
	border-top-left-radius: 15px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 15px;
}
.btn-primary{
	background-color: rgb(79, 79, 79);
	border: 0;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: rgb(79, 79, 79);
}
.btn-group .active{
	border-radius: 15px;
	background-color: rgb(79, 79, 79);
    color: #fff;
    transition: background .3s linear;
    transition-property: background;
    transition-duration: 0.3s;
    transition-timing-function: linear;
    transition-delay: 0s;
}
.btn-group .btn-primary:not(:disabled):not(.disabled).active:hover{
	background-color: black;
}
.card{
	padding: 5px;
	transition: all .3s ease;
    border-radius: 15px;
    height: 320px;
}
.card:hover{
	box-shadow: 0 0 15px rgba(0,0,0,.5);
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    padding-right: 5px;
    padding-left: 5px;
}
.container, .row{
    padding-right: 10px;
    padding-left: 10px;
}
.container{
	max-width: 1400px;
}
.products-section{
	margin-left: auto;
	margin-right: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}
.product-image{
	height: 176px;
    min-height: 176px;
    position: relative;
}
.product-image img{
    border-radius: 15px;
}
.price-buy{
	padding-left: 0!important;
    align-self: center;
}
.product-price{
	font-size: 20px;
    font-weight: 700;
    display: inline-block;
    letter-spacing: 0;
}
.product-currency{
	font-size: 14px;
    margin-left: 5px;
    font-weight: 700;
    letter-spacing: 0;
}

.btn-danger{
	height: 50px;
    width: 100%;
    font-size: 18px;
    font-weight: 700;
    font-family: Open Sans,sans-serif;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    color: #fff;
    border: none;
    border-radius: 15px;
    background: #e31837;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(227, 24, 55);
}
.btn-danger:hover {
    background: #bf142e;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(191, 20, 46);
}

/*header*/
/*cart*/
.cart-img{
    border-radius: 50%;
    width: 46px;
    height: 46px;
    margin-left: 2px;
}
.cart-quantity{
    font-weight: 700;
    font-size: 14px;
    color: #f8f8f8;
    font-family: Open Sans,sans-serif;
}
.cart{
    background-color: white;
    border-radius: 25px;
    color: rgb(79, 79, 79);;
    font-weight: 700;
    font-size: 14px;
    font-family: Open Sans,sans-serif;
    display: flex;
    align-items: center;
    width: 150px;
    height: 50px;
}
.cart:hover .cart-text{
    color: #1a6dca;
}
.cart:hover .cart-img{
    background-color: #1a6dca;
}
.cart-img svg{
    width: 16px;
    height: 16px;
    fill: #f8f8f8
}
.cart-text{
    margin-left: 10px;
    font-size: 18px;
    transition: all .3s;
}
.cart-quantity{
    height: 16.6px;
}
.cart-container{
    display: flex;
    justify-content: flex-end;
}
/*-----------------*/
/*order-form*/
.order-title{
    width: 760px;
    font-family: Open Sans,sans-serif;
    margin: 0 auto 20px;
    font-weight: 600;
    font-size: 20px;
    padding-left: 6px;
}
.form-section{
    padding-top: 30px;
    padding-bottom: 30px;
}
form{
    margin-left: auto;
    margin-right: auto;
    width: 760px;
    border-radius: 15px;
    border: 1px solid rgba(0,0,0,.125);
    padding: 20px;
    font-family: Open Sans,sans-serif;
    font-size: 16px;
}
input, select{
    border-radius: 15px !important;
}
.input{
    padding: 5px;
}
/*---------------------*/
/*product-page*/
.product-page-image{
    height: 360px;
    min-height: 360px;
    position: relative;
}
.product-row{
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 60px;
    padding-bottom: 60px;
}
h1{
    font-family: Roboto,sans-serif;
    font-weight: 700;
    font-size: 3.35vw;
    margin-bottom: 1.75vw;
}
h2{
    font-family: Roboto,sans-serif;
    font-weight: 700;
    font-size: 2.35vw;
    margin-bottom: 1.75vw;
}
.product-weight-title{
    font-weight: bold;
}
.dp-product-block__quantity, .dp-product-block__quantity-control {
    height: 50px;
    border: 1px solid rgba(0,0,0,.08);
    border-radius: 15px;
    background: #f8f8f8;
}
.dp-product-block__quantity {
    padding-right: 0;
    padding-left: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.dp-product-block__quantity-control {
    width: 50px;
    padding: 0;
    cursor: pointer;
    -webkit-transition: border .3s ease;
    -o-transition: border .3s ease;
    transition: border .3s ease;
}
.dp-product-block__quantity-count {
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    color: #4f4f4f;
    font-size: 18px;
    font-weight: 700;
}
.dp-product-block__quantity-control svg {
    height: 14px;
    width: 14px;
}
/*------------------------------------------*/
/*footer*/
footer{
    width: 100%;
    background-color: #000;
    color: #fff;
    padding: 3em 2em 3em;
}
.footer-row{
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
}
.copy-text{
    color: #8d8d8d;
    text-align: right;
    padding-top: 1em;
    margin: 0!important;
}
.title{
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 1em;
    margin-bottom: .3em;
}
.footer-link{
    color: #8d8d8d;
    text-decoration: none;
    display: block;
    padding-top: 15px;
    position: relative;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.footer-link:hover{
    color: #fff;
}
.footer-row div{
    padding-right: 10px;
    padding-left: 10px;

}
.footer-logo{
    padding-top: 10px;
}
/*--------------------*/
/*cart-page*/
.cart-page{
    margin-left: auto;
    margin-right: auto;
    width: 760px;
    border-radius: 15px;
    border: 1px solid rgba(0,0,0,.125);
    padding: 20px;
    font-family: Open Sans,sans-serif;
    font-size: 16px;
}
.removeBt{
    width: 24px;
    height: 24px;
}
.cart-product-row{
    height: auto;
    padding: 12px 20px;
    
}
.product-info-row{
    width: 660px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}
.cart-page-price{
    text-align: right;
}
.product-info-row div div{
    height: auto;

}
/*---------------------*/
/*spinner*/
.spinner-border{
    margin-right: auto;
    margin-left: auto;
    
}
.spinner-row{
    display: flex;
    align-items: center;
    height: 90vh;
}
/*--------------------*/
/*actions*/

.action-image{
    width: 95%;
    height: 278px;
    margin-left: auto;
    margin-right: auto;
    background-size: auto 100%;
    border-radius: 15px;
}
#action1{
    background: url('https://media.dominos.ua/__sized__/promotions/promotions_image/2020/10/29/unicorn-vtornik--80_news-crop-c0-5__0-5-2300x1352-70.jpg');
    background-size: cover;
    background-position: center;
}
#action2{
    background: url('https://media.dominos.ua/__sized__/promotions/promotions_image/2020/09/23/-20_new-crop-c0-5__0-5-2300x1352-70.jpg');
    background-size: cover;
    background-position: center;
}
#action3{
    background: url('https://media.dominos.ua/__sized__/news/news_image/2020/03/16/dost_news-crop-c0-5__0-5-1150x675-70.jpg');
    background-size: cover;
    background-position: center;
}
img {
	width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
@media (max-width: 1399px){
	.container{
		max-width: 1399px;
	}
}
@media (max-width: 1199px){
	.container{
		max-width: 1199px;
	}
}
@media (max-width: 991px){
	.container{
		max-width: 991px;
	}
    .navbar-expand-lg .navbar-collapse {
        display: -ms-flexbox!important;
        display: flex!important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
        flex-direction: row;
    }
    .navbar-nav{
        display: flex!important;
        flex-direction: row;
    }


}
@media (max-width: 767px){
    main{
        margin-top: 151px;
    }
	.container{
		max-width: 767px;
	}
    form, .cart-page{
        width: auto;
        margin-left: 10px;
        margin-right: 10px;
    }
    .cart-container{
        justify-content: flex-start;
    }
}
@media (max-width: 575px){
	.container{
		max-width: 575px;
		min-width: 300px;
	}
    h1{
        font-size: 16px;
    }
    
    .product-row{
        min-width: 300px;
    }
}
